.front-icon {
    max-width: 150px;
    max-height: 150px;
}

.front-icon-sm {
    max-width: 120px;
    max-height: 120px;
    margin-top: 30px;
}

.box {
    position: relative;
    display: inline-block;
    border-radius: 5px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box::after {
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box:hover {
    -webkit-transform: scale(1.1, 1.1);
    transform: translateY(-12px);
}

.box:hover::after {
    opacity: 1;
}

.btn-purple {
    background-color: #7289DA;
    color: #fff;
}

.demodance {
    position: relative;
    animation: demodance 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes demodance {
    /* fade at start, go full right at 50%, fade out-flip-fade in, go left, fade out-flip-fade in */
    0% {
        left: -150px;
        opacity: 0%;
    }
    10% {
        opacity: 100%;
    }
    40% {
        opacity: 100%;
    }
    49% {
        transform: scaleX(1);
    }
    50% {
        left: 150px;
        transform: scaleX(-1);
        opacity: 0%;
    }
    90% {
        opacity: 100%;
    }
    100% {
        transform: scaleX(-1);
        left: -150px;
        opacity: 0%;
    }
}

footer {
    height: 120px;
    width: 100% !important;
    color: #ecf0f1;
    height: 100%;
    background-color: #202020 !important;
    box-shadow: inset 0 9px 25px -16px #000;
}

.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: #272b2f !important;
}

@font-face {
    font-family: "bloxxdirty";
    src: url("../../fonts/tf2-fonts/borisblackbloxx-webfont.woff") format("woff");
}

@font-face {
    font-family: "bloxx";
    src: url("../../fonts/tf2-fonts/borisblackbloxxdirty-webfont.woff") format("woff");
}

@font-face {
    font-family: "tf2build";
    src: url("../../fonts/tf2-fonts/tf2build-webfont.woff") format("woff");
}

@font-face {
    font-family: "tf2secondary";
    src: url("../../fonts/tf2-fonts/tf2secondary-webfont.woff") format("woff");
}

nav {
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.2) !important;
}

.navbar-brand {
    font-family: 'tf2build';
}

.logo-image {
    width: 200px;
    height: 40px;
    display: inline-block;
}

.logo {
    width: 45px;
    height: 45px;
}

.logo-span {
    font-size: 22px;
}

.nav-icon {
    position: relative;
    display: inline-block;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.nav-icon:hover {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.12);
    transition: 0.4s;
    color: deepskyblue;
}

.tf2-build {
    font-family: 'tf2build';
}

.tf2-secondary {
    font-family: 'tf2secondary';
    font-size: 16px;
}

.front-card {
    background-color: #199EDF;
    color: white;
}

.front-card-orange {
    background-color: #E0681F;
    color: white;
}

.foot-words {
    margin-top: 18px;
    text-align: center;
    font-size: 16px;
    color: #eee;
}

.footer-txt {
    color: #777;
    font-size: 14px;
    text-align: center;
    justify-content: center;
}

.footer-logos {
    margin: 10px auto 10px auto;
    position: relative;
    font-size: 30px;
}

.btn-margin {
    margin-right: 25px;
    padding: 10px 20px;
    max-width: 180px !important;
    width: 100%;
}

.btn-margin-last {
    padding: 10px 30px;
    max-width: 180px !important;
    width: 100%;
}

.no-underline a {
    text-decoration: none !important;
}

@media only screen and (max-width: 1390px) {
    footer {
        display: none;
    }
}